@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/Pretendard-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/Pretendard-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/Pretendard-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@layer base {
  body {
    @apply font-main;
  }
}

@import 'swiper/css';
@import 'swiper/css/navigation';

.swiper-pagination-bullet {
  background-color: #ced7e3 !important;
}

.swiper-pagination-bullet-active {
  background-color: #ced7e3 !important;
}

.w-md-editor {
  box-shadow: none !important;
  background-color: transparent !important;
}

.w-md-editor-toolbar {
  border-top-left-radius: 8px !important;
  border-top-right-radius: 8px !important;
}

.w-md-editor-content {
  background-color: transparent !important;
}

.w-md-editor-text-input {
  min-height: 512px !important;
  -ms-overflow-style: none;
}
.w-md-editor-input {
  -ms-overflow-style: none;
}
.w-md-editor-input::-webkit-scrollbar {
  display: none;
}

#select-tag-list::-webkit-scrollbar {
  display: none;
}

@layer utilities {
  .center-alignment {
    @apply flex flex-col justify-center items-center;
  }
  .profile-like-bookmark {
    @apply text-subtitle1 font-medium cursor-pointer p-[0px_25px_0px_25px];
  }
}

.custom-dashed-border {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='8' ry='8' stroke='%23DBDBDBFF' stroke-width='2' stroke-dasharray='8 7' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  border-radius: 8px;
  box-shadow: 2px 2px 8px 0px rgba(163, 163, 163, 0.25);
}

/* .custom-markdown {
  font-family: font-regular;
} */
